name: "Benchmark"
on:
  push:
  workflow_call:
  workflow_dispatch:
jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: ./.github/actions/setup-test-env
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v1
        with:
          run: node --version && pnpm x bench/all.ts
          token: ${{ secrets.CODSPEED_TOKEN }}
